.mainpage {
    position: fixed;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    top: calc(-100% - 10px);
    transition: .8s ease;
}

@media screen and (max-width: 750px) {
    .mainpage .header {
        margin-top: 150px;
    }
}

.mainpage .header h8 {
    font-size: 3em;
    color: azure;
    text-shadow: 2px -2px 4px #333333;
}

.mainpage .header small {
    font-size: 1em;
    text-shadow: 2px -2px 6px #333333;
}

.mainpage .header small:before {
    content: "“";
}

.mainpage .header small:after {
    content: "”";
}

@media screen and (max-width: 600px) {
    .mainpage .header h8 {
        font-size: 2em;
    }
    .mainpage .header small {
        font-size: .9em;
    }
}

.mainpage #mptoggle,
.mainpage #mploading {
    display: block;
    text-align: center;
    vertical-align: center;
    position: absolute;
    font-size: 3em;
    color: white;
    text-shadow: 2px -2px 4px #BBB;
    padding: auto 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: calc(50% - 25px);
    bottom: 50px;
    cursor: pointer;
}

.mainpage #mploading {
    background-color: whitesmoke;
}

.showmain {
    opacity: 1;
    top: -5px;
}